# SERVER CONFIG
PORT=3000
SESSION_SECRET=smart-saga-rahasia-banget

# DATABASE CONFIG (Pilih salah satu: MYSQL_URL atau variabel satuan)
# Jika di Railway, biasanya otomatis ada MYSQL_URL
MYSQL_URL=mysql://user:password@host:port/database

# Atau variabel satuan (untuk localhost / jika tidak ada MYSQL_URL)
MYSQLHOST=localhost
MYSQLUSER=root
MYSQLPASSWORD=
MYSQLDATABASE=db_smart-saga(new)
MYSQLPORT=3306

# MQTT CONFIG (HiveMQ Cloud)
MQTT_SERVER=d4074ff835754387b943f21e95168512.s1.eu.hivemq.cloud
MQTT_PORT=8883
MQTT_USER=school-absensi
MQTT_PASSWORD=School12
MQTT_TOPIC=absensi/rfid
